.mainbody{
    background-color: rgb(50, 50, 97);
    padding: 30px;
}
.cont{
    display: flex;
}
.wrapper{
    background-color: white;
    padding: 10px;
    color: red;
    margin-top: 20px;
    /* text-align: center; */
    width: 100%;

}

.innerBtn{
    text-align: center;
    padding: 10px;
    margin-left: 200px;
    
}