*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: monospace;
  background-color: rgb(71, 67, 67);
}

.continer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
  flex-direction: column;

}


h1{
  padding: 20px;
  font-size: 30px;
  font-weight: 1000;
}

.btn{
  padding:  10px 20px;
}