*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(0, 29, 29);
    align-items: center;
    color: #ffff;
    padding: 0 10px;
    
   
}

.head{
    margin: 0 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.btn{
    width: 80px;
    height: 50px;
    background-color: royalblue;
    outline: none;
    border: none;
    margin: 10px 2px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;

    
}

.btn:hover{
    transform:scale(1.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.head input{
    height: 50px;
    margin: 10px 2px;
    background-color: rgb(171, 165, 165);
    color: black;
    border-radius: 10px;
    border: none;
    padding: 0 2em;
    font-size: 0.9em;
    color: aliceblue;
    
}

input:focus{
    outline: none;
    color: white;
}

input::placeholder{
    color: aliceblue;
}

@media screen and (max-width: 800px){
    .head input{
        width: 40%;
    }

    .head{
        margin: 0 1em;
    }

    .header{
        padding: 5px;
    }
    /* .list-images{
        width: 3em;
        padding: 1px 1px;
    }
     */

}

@media screen and (max-width: 300px){
    .list-images{
        width: 10%;
        padding: 0 0;
    }

    .head input{
        width: 50%;
    }
}

